<!-- Child of answer.hbs -->

<ul>
  <!-- Lists answers and authors for each question on question.hbs template -->
  {{#each answers as |answer|}}
    <li class="font-16">{{answer.answer}} - {{answer.answerer}}</li>


    
    <!-- Rate the answer form and submit button displayed -->
    {{rate-answer}}
  {{/each}}
</ul>
