<!-- Child of answer.hbs -->

<ul>
  <!-- Lists answers and authors for each question on question.hbs template -->
  {{#each answers as |answer|}}
    <li>{{answer.answer}} - {{answer.answerer}}</li>
    <!-- <button class="btn btn-xs btn-primary" {{action 'rateAnswer' answer}}>Rate Answer!</button> -->
  {{/each}}
</ul>
