body {
  font-family: monospace;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  color: #990099;
}

.navbar {
  margin-top: 10px;
}

footer {
  text-align: center;
  margin-bottom: 10px;
}

li {
  font-size: 16px;
}

.addText {
  font-size: 16px;
}

.addText:hover {
  color: #00cc00;
  font-weight: bold;
  font-size: 20px;
}

.displayText:hover {
  color: #ff3300;
  font-weight: bold;
  font-size: 16px;
}

.updateText {
  font-size: 16px;
}

.updateText:hover {
  color: #1a75ff;
  font-weight: bold;
  font-size: 20px;
}

.glyphicon {
  font-size: 20px;
  color: black;
}
