<!-- About display template -->
<!-- Child of index.hbs -->

<h3>About Us</h3>

<p>You Know Who Knows is a well-respected leader in the competitive arena of question and answer message boards. We provide a platform for asking and answering any question. Give You Know Who Knows a try and hopefully you will see why our users consistently rate us well!</p>
