<!-- Child of index.hbs -->
<!-- Should display answer to particular question -->

<!-- NOT BEING USED -->





<!-- <h3>Answers!!!</h3>

{{new-answer answer=model}}

{{answer-tile answer=model destroyAnswer="destroyAnswer"}} -->
