<!-- Contact display template -->
<!-- Child of index.hbs -->

<p>You Know Who Knows wants you to have a place to ask and answer any question that you have. Please let us know if you have any questions or need help with the message board.</p>
<br>
<br>
<p>
  You Know Who Knows Global Headquarters<br>
  1234 Any Questions Street<br>
  Answers, MT 59872
</p>

<p>(888) 321-9876</p>

<p>youknowwhoknows@whoknows.com</p>
