<!-- Primary template -->
<!-- Displays home page using question-tile.hbs -->
<!-- Parent of about, contact, question, and answer .hbs files -->

<h2>Questions:</h2>

<!-- List of questions on home page come from question-tile.hbs -->
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}<br>
  {{/each}}
</ul>

<!-- New question data is sent here from new-question.js sendAction -->
{{new-question save="save"}}
